body{
	margin:0;
	background-color: rgb(237, 255, 242);
	height: 100%;
	width: 100%;
	background-image:url(eldegoss.png);
	background-repeat: no-repeat;
	background-position: top -30px right -200px;'
}
table {
	background-color: rgb(1, 61, 17);
	color: black;
	border: none;
	height: 96px;
	width: 52%;
	float:right;
	top:0px;
}
.name1 {
	font-size: 30pt;
	font-family: gothambook;
	width:20px;
	color: rgb(240, 255, 240);
}
.name2 {
	font-size: 30pt;
	font-family: gothammedium;
	color: rgb(64, 255, 117);
}
.ribbon{
	background-color: rgb(1, 61, 17);
	border: none;
	height: 96px;
	width: 12%;
	color: rgb(240, 255, 240);
	font-size: 20pt;
	font-family: gothammedium;
	text-align:center;
	line-height: 96px;
	text-decoration: none; 
	cursor: pointer;
	float: right;	
	transition: height 0.25s, color 0.25s;
}
.ribbon:hover { 
	height: 90px;
	color: rgb(189, 255, 204);
	transition: height 0.25s, color 0.25s;
	text-decoration: none; 	
}
@font-face {
    font-family: 'gothammedium';
    src: url('gotham-medium-webfont.woff2') format('woff2'),
         url('gotham-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gothambook';
    src: url('gotham-book-webfont.woff2') format('woff2'),
         url('gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.portrait{
	width:358px;
	height:619px;
	margin-left:0px;
	top:96px;
	position:absolute;
	animation-name:moveUp;
	animation-duration:0.65s;	
}
@keyframes moveUp{
	from {top: 450px; opacity:0}
	to {top: 96px; opacity:1}
}
.bodyHeader{
	color:rgb(0, 26, 7);
	font-family:gothammedium;
	font-size:35pt;
	top:155px;
	left:-650px;
	margin:0;
	position:absolute;
	animation-name:moveRight;
	animation-duration:0.75s;
	animation-delay:0.15s;
	animation-fill-mode: forwards;
}
.bodyBody{
	color:rgb(0, 26, 7);
	font-family:gothambook;
	font-size:22pt;
	top:235px;
	left:-650px;
	margin:0;
	position:absolute;
	animation-name:moveRight;
	animation-duration:0.75s;
	animation-delay:0.15s;
	animation-fill-mode: forwards;
}
@keyframes moveRight{
	from {left:-650px; opacity:0}
	to {left:428px; opacity:1}
}
.dogText{
	font-family:Comic Sans MS;
	color:rgb(0, 26, 7);
	display: block;
	transform: translate(-50%, 1030px);
	left:50%;
	position:absolute;
}
.dogVideo{
	display: block;
	transform: translate(-50%, 1080px);
	left:50%;
	position:absolute;
}